<!DOCTYPE html>

<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/img/img_0047.jpg">
        <link rel="stylesheet" href="/css/styles.css" > 
    </head>
    <body>
        <div class="main-content">
            {{>headers}}
            <P> This site was created by Greg Campbell.  It uses data from mapbox.com and darksky.net</P>
            <img class="portriat" src = 'img/IMG_0053.jpg'>
        </div>       
        {{>footers}}
    </body>

</html>